<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<style>
    .nav a{
        margin: 10px 20px;
    }
</style>
<body>
    <h1 style="text-align: center;">Welcome To <%= admin_name%></h1>

<div class="nav">
<a href="dashboard">Dashboard</a>
<a href="adduser"> Add User</a>
<a href="addtask"> Add Task</a>
<a href="manageUser"> Manage User</a>
<a href="viewuser"> View User</a>
<a href="viewtask">View Task</a>
</div>

</body>
</html>